@model IEnumerable<ProyectoONGDBNoSQL.Models.Comunicacion>

@{
    ViewData["Title"] = "Comunicaciones";
}

<h2>Lista de Comunicaciones</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Comunicación</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Fecha de Envío</th>
            <th>Contenido</th>
            <th>Destinatario (UsuarioId)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comunicacion in Model)
        {
            <tr>
                <td>@comunicacion.FechaCreacion.ToString("yyyy-MM-dd")</td>
                <td>@comunicacion.Contenido</td>
                <td>@comunicacion.UsuarioId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@comunicacion.Id">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@comunicacion.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@comunicacion.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>